<h1>Let's play LCR</h1>

<%= form_with scope: :player, url: games_path do |playerform| %>
  <%# <%= playerform.label "Your Name" %>
  <%# <%= playerform.label :player, :name, label: "Your Name" %>
  <%= playerform.text_field :name, placeholder: "Name" %>
  <%= submit_tag("Let's Play") %>
<% end %>
